* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(255, 207, 74);
}

.site {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}


/*--------------------------*/
/* MAIN CONTAINER */
/*-------------------------*/

.main-container {
    width: 70vw;
    max-width: 954px;
    height: 70vh;
    max-height: 594px;
    box-shadow: 2px 2px 5px 2px rgba(180, 119, 6, 0.432);
    display: flex;
}

/*------- LEFT SIDE CONTAINER --------*/

.leftside__container {
    flex-grow: 2;
    background-color: rgb(255, 249, 235);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/*------- FORM --------*/

.form__container {
    position: absolute;
    display: flex;
    flex-direction: column;
}

.form__label {
    font-size: 18px;
    color: rgb(253, 146, 6);
    letter-spacing: 1px;
    word-spacing: 5px;
    margin-bottom: 7px;
    margin-right: 70px;
}


/*------- FORM INPUTS --------*/

.form__input {
    margin-bottom: 5vh;
    height: 30px;
    max-height: 30px;
    border: none;
    color: rgb(253, 146, 6);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
    background-color: transparent;
    border-bottom: 2px solid rgb(253, 146, 6);
    padding: 3px 8px 0px 8px;
}

.form__input:focus {
    outline: 2px solid rgb(253, 146, 6);
}

::placeholder {
    color: rgb(22, 22, 22);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
}

input::selection {
    background-color: rgb(255, 225, 53);
}

.form__button {
    width: 186px;
    height: 39px;
    margin-top: 15px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    background-color: rgb(253, 146, 6);
    border-radius: 20px;
    border: none;
    text-transform: uppercase;
    align-self: center;
    box-shadow: 0px 1px 1px rgba(180, 119, 6, 0.644);
    transition: .2s;
}

.form__button:hover {
    cursor: pointer;
    background-color: rgb(0, 0, 0);
}

.flex__between {
    display: flex;
    justify-content: space-between;
}

.aligned__items {
    display: flex;
    flex-direction: column;
}


/*------- RIGHT SIDE CONTAINER --------*/

.rightside__container {
    flex-grow: 1;
    background-color: rgb(253, 146, 6);
    min-width: 4vw;
    position: relative;
    padding: 30px;
}

.image {
    position: absolute;
    left: -120px;
    height: 160%;
}

